{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="container" id="thecomments" >
        <div class="row">

            {% if all_comments %}
                <div class="col-md-7" >
                    <h3 class="text-center" id="coms">The comments for the pitch</h3>
                    
                   <div class="col-md-5  commentform" >

                        {{wtf.quick_form(form)}}
                   </div>
               </div>
            {%else%}
            <div class="card w-90 mb-3">
                <div class="card-body">
                  <p class="card-title">No Comments for this yet for this post. Be the first to comment</p>
                </div>
            </div> 
            <div class="col-md-5">
                    {{wtf.quick_form(form)}}
                </div>
            {%endif%}
    </div>
   
{% endblock%}