{% macro display(source) %}

{% if source %}
{% for category in source %}
<div class="row container pitch">
    <div class="col-md-2"> <p class="pitch-author">{{category.user.username}}</p></div>
    <div class="col-md-10">
        <h4 class="pitch-title">{{category.title}}</h4>
        <p class="pitch-post">"{{category.post}}"</p>
        <em class="pitch-category">{{category.category}} category.</em>
        <div class="row engaging-icons">
            <span class="icons" > <a href="{{url_for('main.add_comment',pitch_id = category.id)}}"> <i class='far fa-comments' style='font-size:24px'></i> </a>   {{category.comment.count()}}</span>
            <span class="icons" > <a href="{{url_for('main.upvote',id = category.id)}}"><i class="fa fa-thumbs-up" style="font-size:24px;color: green">  </i></a>   {{category.upvote.count()}}</span>
            <span class="icons"> <a href="{{url_for('main.downvote',id = category.id)}}"> <i class="fa fa-thumbs-down" style="color:red;font-size:24px;">  </i>   {{category.downvote.count()}}</a></span>
        </div>

    </div>
</div>

{% endfor %}

{% else %}
    <div class="text-center">
        <p>This category has no pitches yet</p>
    </div>
{% endif %}

{% endmacro %}